/*************************************
Main sass file used for imports
*************************************/
/*************************************
Variables used across the website
*************************************/
.sprite-sprite, .sprite-close, .sprite-search_icon {
  background-image: url('/img/sprite-s85f603233f.png');
  background-repeat: no-repeat;
}

.sprite-close {
  background-position: 0 0;
}
.sprite-close:hover, .sprite-close.close-hover {
  background-position: 0 -50px;
}

.sprite-search_icon {
  background-position: 0 -100px;
}

/*************************************
Header styling
*************************************/
.header .primary-nav {
  background: #E5F8FE;
  height: 130px;
}
.header .primary-nav .logos {
  float: left;
  margin-top: 28px;
}
.header .primary-nav .logos .logo {
  display: block;
  margin-top: 15px;
}
.header .primary-nav .logos .first {
  margin-right: 20px;
}
.header .primary-nav .logos .first img {
  vertical-align: top;
}
.header .primary-nav .utility-nav {
  display: block;
  float: right;
  margin-top: 40px;
}
.header .primary-nav .utility-nav li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
.header .primary-nav .utility-nav li a {
  font-size: 12px;
  color: #666666;
  text-decoration: none;
}
.header .primary-nav .utility-nav li a:hover {
  text-decoration: underline;
}
.header .primary-nav .utility-nav li.language {
  position: relative;
}
.header .primary-nav .utility-nav li.language ul,
.header .primary-nav .utility-nav li.language li {
  margin: 0;
}
.header .primary-nav .utility-nav li.language .select-language {
  position: absolute;
  top: -10px;
  left: -15px;
  padding: 10px 15px;
  width: 120px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.header .primary-nav .utility-nav li.language .select-language li {
  margin-bottom: 5px;
}
.header .primary-nav .utility-nav li.language .select-language li a:hover {
  color: #8cb6e0;
}
.header .primary-nav .main-nav {
  display: block;
  float: right;
}
.header .primary-nav .main-nav li {
  list-style: none;
  display: inline-block;
  margin-left: 35px;
}
.header .primary-nav .main-nav li a {
  font-size: 17px;
  color: #0072bc;
  text-decoration: none;
}
.header .primary-nav .main-nav li a:hover {
  color: #00B7F2;
  border-bottom: 3px solid #00B7F2;
  padding-bottom: 15px;
}
.header .primary-nav #search {
  vertical-align: middle;
}
.header .sub-nav {
  background: #ffffff;
  height: 53px;
  overflow: initial;
  margin: 0;
  padding: 0;
}
.header .sub-nav a {
  font-size: 12px;
  color: #666666;
  letter-spacing: 1px;
  padding: 19px 30px;
  display: inline-block;
  border-left: 1px solid #F3F3F3;
  border-right: 1px solid #F3F3F3;
  text-decoration: none;
}
.header .sub-nav a:hover {
  color: #00b7f2;
}
.header .sub-nav .close-search {
  padding: 0;
  border: none;
}
.header .sub-nav .close-search span {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.header .search-form {
  height: 50px;
  display: none;
  padding: 15px 25px;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f2f2f2), color-stop(20%, #f6f6f6), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0 );
}
.header .search-form a {
  display: inline-block;
  font-size: 14px;
  color: #0072bc;
  float: right;
  padding: 0;
  border: none;
  height: 50px;
  line-height: 45px;
}
.header .search-form img,
.header .search-form form {
  display: inline-block;
}
.header .search-form img {
  margin-right: 20px;
}
.header .search-form form a {
  padding: 0 25px;
  margin-left: 40px;
}
.header .search-form input {
  background: transparent;
  font-size: 30px;
  color: #999999;
  font-style: italic;
  width: 663px;
  height: 45px;
  border: none;
  display: inline-block;
}
.header .sticky-nav {
  background: #00b6f0;
  opacity: 0.9;
}
.header .sticky-nav h2 {
  color: #ffffff;
  padding: 12px 0;
  margin: 0;
  font-size: 22px;
  display: inline-block;
}
.header .sticky-nav .button {
  font-size: 12px;
  color: #d92032;
  letter-spacing: 0.75px;
  padding: 10px 30px;
  margin: 8px 0 8px 35px;
  min-width: 216px;
  float: right;
  background: #ffffff;
  text-align: center;
  text-decoration: none;
}
.header .sticky-nav-links {
  background: #00b7f2;
  opacity: 0.9;
}
.header .sticky-nav-links ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.header .sticky-nav-links ul li {
  list-style: none;
  display: inline-block;
}
.header .sticky-nav-links ul li a {
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.75px;
  padding: 5px 0;
  display: block;
  transition: all 0.2s;
}
.header .sticky-nav-links ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header .sticky-nav-links ul li a.active {
  background: #ffffff;
  color: #d92032;
}
.header .sticky-nav-links ul li a.padding-xs {
  padding-left: 15px;
  padding-right: 15px;
}
.header .sticky-nav-links ul li a.padding-sm {
  padding-left: 20px;
  padding-right: 20px;
}
.header .sticky-nav-links ul li a.padding-md {
  padding-left: 25px;
  padding-right: 25px;
}
.header .sticky-nav-links ul li a.padding-lg {
  padding-left: 30px;
  padding-right: 30px;
}

body {
  background: #ccc;
}

/*************************************
Main layout styling
*************************************/
body {
  line-height: 1;
}

.wrapper {
  max-width: 1000px;
  margin: 0 10px;
  margin: 0 auto;
}

/*************************************
Footer styling
*************************************/
