/*************************************
Main sass file used for imports
*************************************/
/*************************************
Variables used across the website
*************************************/
.sprite-sprite, .sprite-close, .sprite-facebook, .sprite-google, .sprite-instagram, .sprite-pinterest, .sprite-search-icon, .sprite-twitter, .sprite-youtube {
  background-image: url('../img/sprite-sb446f5266c.png');
  background-repeat: no-repeat;
}

.sprite-close {
  background-position: 0 0;
  height: 50px;
  width: 50px;
}
.sprite-close:hover, .sprite-close.close-hover {
  background-position: 0 -50px;
}

.sprite-facebook {
  background-position: 0 -100px;
  height: 32px;
  width: 32px;
}

.sprite-google {
  background-position: 0 -132px;
  height: 32px;
  width: 32px;
}

.sprite-instagram {
  background-position: 0 -164px;
  height: 32px;
  width: 32px;
}

.sprite-pinterest {
  background-position: 0 -196px;
  height: 32px;
  width: 32px;
}

.sprite-search-icon {
  background-position: 0 -228px;
  height: 19px;
  width: 18px;
}

.sprite-twitter {
  background-position: 0 -247px;
  height: 32px;
  width: 32px;
}

.sprite-youtube {
  background-position: 0 -279px;
  height: 32px;
  width: 73px;
}

/*************************************
Header styling
*************************************/
.header-mobile,
.header {
  font-family: "OmnesHuggies";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-mobile {
  background: #e9f8fe;
  height: 50px;
  box-shadow: 0 0 29px rgba(0, 0, 0, 0.22);
}

.header .primary-nav {
  background: #E5F8FE;
  height: 130px;
}
.header .primary-nav .logos {
  float: left;
  margin-top: 28px;
}
.header .primary-nav .logos .logo {
  display: block;
  margin-top: 15px;
}
.header .primary-nav .logos .first {
  margin-right: 20px;
}
.header .primary-nav .logos .first img {
  vertical-align: top;
}
.header .primary-nav .utility-nav {
  display: block;
  float: right;
  margin-top: 40px;
}
.header .primary-nav .utility-nav li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
.header .primary-nav .utility-nav li a {
  font-size: 12px;
  color: #666666;
  text-decoration: none;
}
.header .primary-nav .utility-nav li a:hover {
  text-decoration: underline;
}
.header .primary-nav .utility-nav li a.active {
  color: #d92032;
}
.header .primary-nav .utility-nav li.language {
  position: relative;
}
.header .primary-nav .utility-nav li.language ul,
.header .primary-nav .utility-nav li.language li {
  margin: 0;
}
.header .primary-nav .utility-nav li.language .select-language {
  position: absolute;
  top: -10px;
  left: -15px;
  padding: 10px 15px;
  width: 120px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.header .primary-nav .utility-nav li.language .select-language li {
  margin-bottom: 5px;
}
.header .primary-nav .utility-nav li.language .select-language li a:hover {
  color: #8cb6e0;
}
.header .primary-nav .main-nav {
  display: block;
  float: right;
  margin: 20px 0 0;
  clear: right;
}
.header .primary-nav .main-nav li {
  list-style: none;
  display: inline-block;
  margin-left: 35px;
}
.header .primary-nav .main-nav li a {
  font-family: "OmnesHuggiesMedium";
  font-size: 17px;
  color: #0072bc;
  text-decoration: none;
}
.header .primary-nav .main-nav li a:hover {
  color: #00B7F2;
  border-bottom: 3px solid #00B7F2;
  padding-bottom: 17px;
}
.header .primary-nav #search {
  vertical-align: middle;
}
.header .sub-nav {
  background: #ffffff;
  height: 53px;
  overflow: initial;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.header .sub-nav a,
.header .sub-nav p {
  font-size: 12px;
  color: #666666;
  letter-spacing: 1px;
  padding: 20px 30px;
  margin: 0;
  line-height: 1;
  display: inline-block;
  border-left: 1px solid #F3F3F3;
  border-right: 1px solid #F3F3F3;
}
.header .sub-nav a {
  text-decoration: none;
}
.header .sub-nav a:hover {
  color: #00b7f2;
}
.header .sub-nav p .points {
  color: #0072bc;
}
.header .sub-nav .close-search {
  padding: 0;
  border: none;
}
.header .sub-nav .close-search span {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.header .search-form {
  height: 80px;
  display: none;
  padding: 15px 25px;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f2f2f2), color-stop(20%, #f6f6f6), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #f6f6f6 20%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0 );
}
.header .search-form a {
  display: inline-block;
  font-size: 14px;
  color: #0072bc;
  float: right;
  padding: 0;
  border: none;
  height: 50px;
  line-height: 50px;
}
.header .search-form img,
.header .search-form form {
  display: inline-block;
}
.header .search-form img {
  margin-right: 20px;
  margin-top: -10px;
}
.header .search-form form a {
  padding: 0 25px;
  margin-left: 40px;
}
.header .search-form input {
  background: transparent;
  font-size: 30px;
  color: #999999;
  font-style: italic;
  width: 663px;
  height: 50px;
  border: none;
  display: inline-block;
  margin: 0;
  box-shadow: none;
}
.header .sticky-nav {
  background: #00b6f0;
  opacity: 0.9;
}
.header .sticky-nav h2 {
  color: #ffffff;
  padding: 12px 0;
  margin: 0;
  font-size: 22px;
  display: inline-block;
}
.header .sticky-nav .button {
  font-size: 12px;
  color: #d92032;
  letter-spacing: 0.75px;
  padding: 10px 30px;
  margin: 8px 0 8px 35px;
  min-width: 216px;
  float: right;
  background: #ffffff;
  text-align: center;
  text-decoration: none;
}
.header .sticky-nav-links {
  background: #00b7f2;
  opacity: 0.9;
}
.header .sticky-nav-links ul {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.header .sticky-nav-links ul li {
  list-style: none;
  display: inline-block;
}
.header .sticky-nav-links ul li a {
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.75px;
  padding: 5px 0;
  display: block;
  transition: all 0.2s;
}
.header .sticky-nav-links ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header .sticky-nav-links ul li a.active {
  background: #ffffff;
  color: #d92032;
}
.header .sticky-nav-links ul li a.padding-xs {
  padding-left: 15px;
  padding-right: 15px;
}
.header .sticky-nav-links ul li a.padding-sm {
  padding-left: 20px;
  padding-right: 20px;
}
.header .sticky-nav-links ul li a.padding-md {
  padding-left: 25px;
  padding-right: 25px;
}
.header .sticky-nav-links ul li a.padding-lg {
  padding-left: 30px;
  padding-right: 30px;
}

/*************************************
Main layout styling
*************************************/
html, body {
  min-height: 100% !important;
  height: 100%;
}

body {
  line-height: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.inline {
  font-size: 0;
}
ul.inline li {
  display: inline-block;
}

.wrapper {
  max-width: 1000px;
  margin: 0 10px;
  margin: 0 auto;
}

.content {
  padding: 40px 0;
}

@media screen and (max-width: 640px) {
  body {
    padding-top: 0 !important;
  }

  .off-canvas-wrap {
    height: 100%;
  }
  .off-canvas-wrap .inner-wrap {
    height: 100%;
  }
  .off-canvas-wrap .inner-wrap .content {
    height: 100%;
    overflow: auto;
  }

  footer {
    display: none;
  }
}
/*************************************
Footer styling
*************************************/
footer .footer-links {
  background: #ffffff;
}
footer .footer-links .footer-links-header {
  border-bottom: 1px solid #ccc;
  padding: 40px 0 16px 0;
  margin-bottom: 24px;
}
footer .footer-links .footer-heading {
  color: #012d74;
  font-size: 13px;
  font-family: "OmnesHuggiesSemiBold";
}
footer .footer-links ul li a {
  font-size: 13px;
  color: #012d74;
  font-family: "OmnesHuggiesMedium";
}
footer .footer-links ul li a:hover {
  color: #8cb6e0;
}
footer .footer-links ul.inline li {
  margin: 0 16px 16px 0px;
}
footer .footer-links .button {
  background: #ffffff;
  border: 2px solid #00b7f2;
  font-size: 12px;
  color: #00b7f2;
  padding: 11px 16px;
  font-family: "OmnesHuggiesMedium";
}
footer .footer-links .button:hover {
  background: #00b7f2;
  color: #ffffff;
}
footer .footer-info {
  background: #eaf7fe;
}
footer .footer-info .footer-info-header {
  background: #d5f0fc;
  margin-top: 40px;
}
footer .footer-info .footer-info-header a {
  margin-left: 25px;
}
footer .footer-info .footer-info-header a img {
  margin-top: 12px;
}
footer .footer-info .footer-info-header p {
  font-size: 13px;
  font-family: "OmnesHuggiesSemiBold";
  padding: 15px 0;
  margin: 0;
  color: #012d74;
}
footer .footer-info .footer-info-body {
  padding: 40px 0;
}
footer .footer-info .footer-info-body p {
  font-size: 11px;
  font-family: "OmnesHuggiesMedium";
  margin: 8px 0;
}
footer .footer-info .footer-info-body .copyright a {
  margin-right: 25px;
}
footer .footer-info .footer-info-body .copyright img {
  vertical-align: bottom;
}
footer .footer-info .footer-info-body .copyright p {
  margin-top: 30px;
}
