/*************************************
Main layout styling
*************************************/
body {
	line-height: 1;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.wrapper {
	max-width: 1000px;
	margin: 0 10px;
	margin: 0 auto;
}