/*************************************
Main layout styling
*************************************/
body {
	line-height: 1;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	&.inline {
		font-size: 0;
		li {
			display: inline-block;
		}
	}
}

.wrapper {
	max-width: 1000px;
	margin: 0 10px;
	margin: 0 auto;
}

.content {
	padding: 40px 0;
}