/*************************************
Footer styling
*************************************/

footer {
	.footer-links {
		background: #ffffff;
		.footer-header {
			border-bottom: 1px solid #ccc;
		}
		.footer-heading {
			color: #012d74;
			font-size: 13px;
			font-family: "OmnesHuggiesSemiBold";
		}
		ul {
			li {
				a {
					font-size: 13px;
					color: #012d74;
					font-family: "OmnesHuggiesMedium";
				}
			}
		}
	}

	.footer-info-header {
		background: #d5f0fc;
	}

	.footer-info {
		background: #eaf7fe;
	}
}