/*************************************
Header styling
*************************************/

.header-mobile,
.header {
	font-family: "OmnesHuggies";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.header-mobile {
	background: #e9f8fe;
	height: 50px;
	box-shadow: 0 0 29px rgba(0,0,0,.22);
}

.left-off-canvas-menu {
	background: #ffffff;
	.welcome-message {
		font-size: 28px;
		color: #666666;
		background: #ffffff;
		padding: 40px 0 35px 30px;
	}
	.accordion {
		.accordion-navigation {
			& > a {
				background: #ffffff;
				color: #113779;
				font-size: 25px;
				border-top: 2px solid #d7e4f2;
				padding: 35px 30px;
				&::after {
					content: "\f067";
					font-family: FontAwesome;
					float: right;
					font-size: 20px;
				}
			}
			&.active {
				& > a::after {
					content: "\f068";
				}
			}
			.content {
				padding: 0;
				ul {
					margin: 0;
				}
				a {
					padding: 35px 25px 35px 70px;
					color: #012d74;
					display: block;
					&:hover {
						background: #f4f5f5;
					}
					&::after {
						content: "\f105";
						font-family: FontAwesome;
						float: right;
					}
				}
			}
		}
	}
	.large-menu {
		background: #eaf7fe;
		a {
			font-size: 25px;
			padding: 30px 30px;
			color: #012d74;
			display: block;
			border-bottom: 2px solid #d7e4f2;
			&::after {
				content: "\f105";
				font-family: FontAwesome;
				float: right;
			}
		}
	}
	.medium-menu {
		background: #eaf7fe;
		a {
			font-size: 22px;
			padding: 20px 30px;
			color: #012d74;
			display: block;
			border-bottom: 2px solid #d7e4f2;
		}
	}
	.small-menu {
		a {
			font-size: 16px;
			padding: 20px 30px;
			color: #012d74;
			display: block;
			border-bottom: 2px solid #d7e4f2;
		}
	}
	.social {
		text-align: center;
		padding: 58px 100px 0;
		li {
			margin-right: 40px;
			margin-bottom: 50px;
		}
	}
}

.header { 
	.primary-nav {
		background: #E5F8FE;
		height: 130px;

		.logos {
			float: left;
			margin-top: 28px;

			a {
				display: inline-block;
			}

			.logo {
				display: block;
				margin-top: 10px;
			}

			.first {
				margin-right: 20px;
				vertical-align: top;
				img {
					vertical-align: top;
				}
			}
		}

		.utility-nav {
			display: block;
			float: right;
			margin-top: 40px;

			li {
				list-style: none;
				display: inline-block;
				margin-left: 30px;
				a {
					font-size: 12px;
					color: #666666;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
					&.active {
						color: #d92032;
					}
				}

				&.language {
					position: relative;

					ul,
					li {
						margin: 0;
					}

					.select-language {
						position: absolute;
						z-index: 99;
						top: -10px;
						left: -15px;
						padding: 10px 15px;
						width: 150px;
						display: none;
						background: #ffffff;
						-webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.4);
						-moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.4);
						box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.4);

						li {
							margin-bottom: 5px;

							a:hover {
								color: #8cb6e0;
							}
						}
					}
				}
			}
		}

		.main-nav {
			display: block;
			float: right;
			margin: 20px 0 0;
			clear: right;

			li {
				list-style: none;
				display: inline-block;
				margin-left: 35px;

				a {
					font-family: "OmnesHuggiesMedium";
					font-size: 17px;
					color: #0072bc;
					text-decoration: none;
					&:hover {
						color: #00B7F2;
						border-bottom: 3px solid #00B7F2;
						padding-bottom: 17px;
					}
				}
			}
		}
		#search {
			vertical-align: middle;
		}
	}

	.sub-nav {
		background: #ffffff;
		overflow: initial;
		margin: 0;
		padding: 0;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);

		a,
		p {
			font-size: 12px;
			color: #666666;
			letter-spacing: 1px;
			padding: 20px 30px;
			margin: 0;
			line-height: 1;
			display: inline-block;
			border-left: 1px solid #F3F3F3;
			border-right: 1px solid #F3F3F3;
		}

		a {
			text-decoration: none;
			&:hover {
				color: #00b7f2;
			}
		}

		p {
			padding: 16px 30px;
			.points {
				color: #0072bc;
			}
		}

		.close-search {
			padding: 0;
			border: none;
			span {
				display: inline-block;
				width: 50px;
				height: 50px;
			}
		}
	}

	.search-form {
		height: 80px;
		display: none;
		padding: 15px 25px;
		background: rgba(242,242,242,1);
		background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 20%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(20%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 20%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 20%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 20%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 20%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0 );
		// -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
		// -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
		// box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);

		a {
			display: inline-block;
			font-size: 14px;
			color: #0072bc;
			float: right;
			padding: 0;
			border: none;
			height: 50px;
			line-height: 50px;
		}

		img,
		form {
			display: inline-block;
		}

		img {
			margin-right: 20px;
			margin-top: -10px;
		}

		form {
			a {
				padding: 0 25px;
				margin-left: 40px;
			}
		}

		input {
			background: transparent;
			font-size: 30px;
			color: #999999;
			font-style: italic;
			width: 663px;
			height: 50px;
			border: none;
			display: inline-block;
			margin: 0;
			box-shadow: none;
		}
	}

	.sticky-nav {
		background: rgba(0, 182, 240, 0.9);

		h2 {
			color: #ffffff;
			padding: 12px 0;
			margin: 0;
			font-size: 22px;
			display: inline-block;
		}
		.button {
			font-size: 12px;
			color: #d92032;
			letter-spacing: 0.75px;
			padding: 10px 30px;
			margin: 8px 0 8px 35px;
			min-width: 216px;
			float: right;
			background: #ffffff;
			text-align: center;
			text-decoration: none;
		}
	}
	.sticky-nav-links {
		background: rgba(0, 183, 242, 0.9);
		ul {
			padding: 0;
			margin: 0;
			font-size: 0;
			li {
				list-style: none;
				display: inline-block;
				a {
					font-size: 12px;
					color: #ffffff;
					letter-spacing: 0.75px;
					padding: 5px 0;
					display: block;
					transition: all 0.2s;

					&:hover {
						background: rgba(255, 255, 255, 0.2);
					}

					&.active {
						background: #ffffff;
						color: #d92032;
					}

					&.padding-xs {
						padding-left: 15px;
						padding-right: 15px;
					}

					&.padding-sm {
						padding-left: 20px;
						padding-right: 20px;
					}

					&.padding-md {
						padding-left: 25px;
						padding-right: 25px;
					}

					&.padding-lg {
						padding-left: 30px;
						padding-right: 30px;
					}
				}
			}
		}
	}
}